/* Home */
:where(.css-dev-only-do-not-override-1vr7spz).ant-carousel .slick-dots li.slick-active {
    width: 32px;
}
:where(.css-dev-only-do-not-override-1vr7spz).ant-carousel .slick-dots li {
    height: 20px;
}
:where(.css-dev-only-do-not-override-1vr7spz).ant-carousel .slick-dots li button {
    height: 6px;
    border-radius: 10px;
}
:where(.css-dev-only-do-not-override-1vr7spz).ant-carousel .slick-dots li.slick-active button {
    background: #1ACAAC;
}


/* hover movie nổi lên */
.Movie{
    text-shadow: rgb(255, 255, 255) -1px -2px 0.7em;
}

.movie-item {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .movie-item:hover {
    transform: translateY(-2px) scale(1.1);
  }


  /* Booking */
  .movies-detail{
    transform: translateY(-17rem)!important;
    left: 3.1rem;
  }

  .booking-seat{
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 3rem;
  }
 
  .taskbar{
    margin-top: 1.5rem;
  }
  .taskbar ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 17px;
  }
  .taskbar ul li{
    padding-top: 20px;
    border-top: 4px solid #605a5a;
  }
  .taskbar ul li span{
    background-color: #605a5a;
    border: 1px solid rgb(155, 154, 154);
    padding: 3px 10px;
    margin-right: 8px;
  }
  .taskbar ul .active{
    border-top: 4px solid #1ACAAC;
    position: relative;
  }
  li.active::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0 0px 10px #00ffd5;
  }


  /* seat */
.normal-a, .normal-b, .normal-c, .vip-d, .vip-e, .vip-f, .vip-g, .sweet-box{
    display: grid;
    grid-template-columns: 20px 77px 1fr 77px 20px;
    gap: 50px;
}
.center, .left, .right{
    display: flex;
    justify-content: space-between;
}
.row p{
  font-size: 20px;
  text-align: center;
}
.all-seat .seat{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.normal .seat{
    background-color: #797373;
}
.vip .seat{
    background-color: #8f4747;
}
.sweet-box .seat{
    background-color: #8f355a;
}

/* classify */
.classify{
  display: flex;
  justify-content: space-between;
}
.classify .seat{
  display: flex;
  align-items: center;
}
.classify .seat p{
  font-size: 17px;
}
.normal-seat, .vip-seat, .sweet-box-seat, .select-seat, .sold-seat{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
}
.normal-seat{
  background-color: #797373;
}
.vip-seat{
  background-color: #8f4747;
}
.sweet-box-seat{
  background-color: #8f355a;
}
.select-seat{
  background-color: #00FFD1;
}
.sold-seat{
  background-color: #ff00f2;
}



/* combo */
.booking-combo{
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 3rem;
}
.Combo{
  box-shadow: 0px 2px 15px 0px rgb(184, 182, 182);
}


/* sigin-signup */

.User-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./background-cinema.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.Form, .FormSignin {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}
.Form {
  width: 800px;
}
.FormSignin {
  width: 400px;
}

.Form h1, .FormSignin h1 {
  font-size: 36px;
  text-align: center;
}

.Form .input-box, .FormSignin .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input select {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 11px 45px 11px 11px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.Form .remember-forgot, .FormSignin .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0px 15px;
}

.remember-forgot label input {
  color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.Form .btn, .FormSignin .btn  {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  box-decoration-break: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.Form .register-link, .FormSignin .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0px 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}


/* ticket-price */
.ticket-price-content{
  color: white;
}
.ticket-price-title{
   text-align: center;
   margin: 2rem 0;
}
.ticket-price-title h1{
   font-weight: bold;
   font-size: 30px;
}
.ticket-price-title p{
   font-size: 20px;
}
.film2D, .film3D{
  width: 75rem;
  margin: 0 auto;
}
.film2D{
  margin-bottom: 5rem;
}
.film2D h2, .film3D h2{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}
.ticket-price-table{
  width: 75rem;
  table-layout: fixed;
  border: solid rgb(76, 76, 76) 0.5px;
  border-radius: 30px;
}
.ticket-price-table td{
  border: solid rgb(76, 76, 76) 0.5px;
}
.ticket-price-table th{
  border: solid rgb(76, 76, 76) 0.5px;
  background-color: rgb(31, 30, 30);
  font-size: 18px;
}
.ticket-price-table tr:hover{
  background-color: rgb(31, 30, 30);
}
.ticket-price-table tr{
  height: 70px;
}
.regular-chair, .vip-chair, .double-chair{
  text-align: center;
}
.regular-chair-title, .vip-chair-title, .double-chair-title{
  font-weight: bold;
}
.regular-chair{
  color: rgb(205, 201, 201);
}
.vip-chair{
  color: yellow;
}
.double-chair{
  color: red;
}
.ticket-price-describe{
  width: 75rem;
  margin: 3rem auto 0 auto;
}


/* profile */
.in4Active{
  background-color: #00FFD1;
}

/* paySuccess */
.pay-success-screen{
  background: rgba(13, 13, 13, 1);
}
.pay-success-box{
  box-shadow: 0px 2px 18px 0px rgb(255, 255, 255);
}
.pay-success-box {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  animation: fadeInUp 0.3s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* checkCircle */
.svg-success {
  display: inline-block;
  vertical-align: top;
  height: 80px;
  width: 80px;
  opacity: 1;
  overflow: visible;
}
  @keyframes success-tick {
    0% {
      stroke-dashoffset: 16px;
      opacity: 1
    }

    100% {
      stroke-dashoffset: 31px;
      opacity: 1
    }
  }

  @keyframes success-circle-outline {
    0% {
      stroke-dashoffset: 72px;
      opacity: 1
    }

    100% {
      stroke-dashoffset: 0px;
      opacity: 1
    }
  }

  @keyframes success-circle-fill {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .success-tick {
    fill: none;
    stroke-width: 1px;
    stroke: #ffffff;
    stroke-dasharray: 15px, 15px;
    /* stroke-dashoffset: -14px; */
    animation: success-tick 450ms ease 1400ms forwards;
    opacity: 0;
  }

  .success-circle-outline {
    fill: none;
    stroke-width: 1px;
    stroke: #81c038;
    stroke-dasharray: 72px, 72px;
    stroke-dashoffset: 72px;
    animation: success-circle-outline 300ms ease-in-out 800ms forwards;
    opacity: 0;
  }

  .success-circle-fill {
    fill: #81c038;
    stroke: none;
    opacity: 0;
    animation: success-circle-fill 300ms ease-out 1100ms forwards;
  }

  /* // Can't animate stroke-dashoffset on IE 10 and 11, just show svg instead */
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .success-tick {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      animation: none;
      opacity: 1;
    }

    .success-circle-outline {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      animation: none;
      opacity: 1;
    }

    .success-circle-fill {
      animation: none;
      opacity: 1;
    }
  }


/* can't choose seat */
.non-choose-1{
  color: #ff0000;
  cursor: not-allowed!important;
}
.non-choose-2{
  color: #bebdbd;
  cursor: not-allowed!important;
}