

.Screen-tablet{
    display: none!important;
}
.Screen-mobile{
    display: none!important;
}

@media (max-width: 1440px){
    *{
        overflow-x: none;
    }
    .menu-mobile{
        display: none;
    }
    .menu{
        padding: 0 40px!important;
    }
    .drop-have-user{
        right: 0%!important;
    }
    .drop-have-user li{
        padding: 20px;
    }
    .All-movies, .Showing-movies, .Coming-soon-movies{
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr!important;
    }
    .Showing-film-page{
        grid-template-columns: 1fr 1fr 1fr 1fr!important;
    }
    .comingSoon-film-page{
        grid-template-columns: 1fr 1fr 1fr 1fr!important;
    }
    iframe{
        height: 600px;
    }
    .menu-film{
        margin-top: 3rem!important;
        width: 90%;
    }
    .loading-home{
        width: 100%!important;
    }
    footer>div{
        padding: 1rem 0!important;
    }
    footer .logo img{
        width: 8%;
    }
    footer .logo h2{
        font-size: 22px;
    }
}

@media (max-width: 1024px){
    *, .ticket-price{
        overflow-x: none;
    }
    .ticket-price{
        overflow-x: none;
    }
    .menu{
        padding: 0 20px!important;
    }
    .menu .logo-web img{
        height: 70px;
        width: 90px;
    }
    .menu-content li {
        padding: 15px 20px;
        font-size: 16px;
    }
    .menu-content .have-user{
        align-items: center;
    }
    .menu-content .have-user svg{
        height: 20px;
        width: 20px;
    }
    .menu-content .have-user a{
        font-size: 16px;
    }
    .drop-have-user{
        width: 180px!important;
        transform: translateY(4.1rem)!important;
        right: 1.5%!important;
    }
    .drop-have-user li{
        font-size: 14px;
        padding: 8px;
    }
    .drop-none-user{
        transform: translateY(3.9rem)!important;
        right: 0rem!important;
        width: 150px!important;
    }
    .All-movies, .Showing-movies, .Coming-soon-movies{
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr!important;
        gap: 25px!important;
    }
    .Showing-film-page-text h1{
        font-size: 16px;
    }
    .comingSoon-film-page-text h1{
        font-size: 16px;
    }
    .movie-item img{
        height: 270px;
    }
    iframe{
        height: 600px;
    }
    .menu-film{
        margin-top: 3rem!important;
    }
    .menu-film .title{
        padding-bottom: 0.7rem;
        margin-bottom: 0.75rem;
    }
    .menu-film .title h2{
        font-size: 24px;
    }
    .menu-film .title .SearchInput{
        width: 200px;
    }
    .menu-film .btn-movie{
        margin-bottom: 20px!important;
    }
    .menu-film .btn-movie button{
        width: 150px;
        font-size: 16px;
    }
    footer>div{
        padding: 1rem 0!important;
    }
    footer nav ul li{
        font-size: 15px;
    }
    footer .logo img{
        width: 8%;
    }
    footer .logo h2{
        font-size: 18px;
    }
    .icon-fb{
        width: 45px!important;
    }
    .icon-yt{
        width: 35px!important;
    }
    .icon-zl{
        width: 30px!important;
        height: 30px!important;
    }
    .address-footer{
        font-size: 15px;
    }
    .ticket-price-content, .film2D, .film3D, .ticket-price-describe{
        width: 90%!important;
        margin: 0 auto;
    }
    .ticket-price-table{
        width: 100%!important;
        margin: 0;
    }
    .ticket-price-table th, .ticket-price-table tr{
        font-size: 15px!important;
    }
    .ticket-price-table tr{
        height: 50px!important;
    }
    .ticket-price-title h1{
        font-size: 25px!important;
    }
    .ticket-price-title p{
        font-size: 18px!important;
    }
    .film2D h2, .film3D h2{
        font-size: 18px!important;
    }
    .ticket-price-describe{
        font-size: 15px;
    }
    .Profile-table{
        width: 80%;
        padding: 20px 0!important;
    }
    .Profile-1 h1, .Profile-2 h1{
        font-size: 24px;
    }
    .Profile-2 .in4Active, .Profile-1 .in4Active{
        width: 10rem!important;
        font-size: 15px;
    }
    .Profile-2 .in4-box input, .Profile-1 .in4-box input{
        height: 40px;
    }
    .Profile-2 .in4-box label, .Profile-1 .in4-box label{
        font-size: 16px;
    }
    .Profile-action button, .Profile-2-action button{
        font-size: 15px;
        width: 120px;
        padding-left: 0;
    }
    .FormSignin {
        width: 350px!important;
        padding: 20px 25px!important;
    }
    .FormSignin h1 {
        font-size: 24px!important;
    }
    .FormSignin .input-box {
        height: 35px!important;
        margin-top: 25px!important;
    }
    .FormSignin .register-link {
        font-size: 12.5px!important;
        margin: 13px 0px 0px!important;
    }
    .FormSignin .btn {
        font-size: 14px!important;
       height: 35px!important;
    }
    .FormSignin .input-box input {
        font-size: 14px!important;
      }
    .FormSignin .forgot-password a p {
        font-size: 12px!important;
      }
    .Form {
        width: 550px!important;
        padding: 20px 25px!important;
    }
    .Form h1 {
        font-size: 24px!important;
    }
    .Form .input-box {
        height: 35px!important;
        margin-top: 25px!important;
    }
    .Form form>div {
       gap: 2rem;
    }
    .Form .btn {
        font-size: 15px!important;
       height: 35px!important;
    }
    .Form .register-link{
        font-size: 14px!important;
        margin: 15px 0px 0px!important;
    }
    .Form .input-box input {
        font-size: 14px!important;
      }
}

@media (max-width: 768px){
    iframe{
        height: 450px;
    }
    .menu-film{
        display: none;
    }
    .menu-content li {
        font-size: 14px;
    }
    .menu-content .have-user svg{
        height: 15px;
        width: 15px;
    }
    .menu-content .have-user a{
        font-size: 14px;
    }
    .drop-none-user{
        transform: translateY(3.9rem)!important;
        right: 0.5rem!important;
        width: 120px!important;
    }
    .Screen-tablet{
        display: block!important;
        margin-top: 3rem;
    }
    .All-movies, .Showing-movies, .Coming-soon-movies{
        display: none!important;
    }
    .Showing-film-page{
        grid-template-columns: 1fr 1fr 1fr!important;
    }
    .comingSoon-film-page{
        grid-template-columns: 1fr 1fr 1fr!important;
    }
    .Showing-film-page img{
        height: 170px;
    }
    .comingSoon-film-page img{
        height: 170px;
    }
    .Showing-film-page-text h1{
        font-size: 14px;
    }
    .Showing-film-page-text p{
        font-size: 12px;
    }
    .Showing-film-section{
        padding: 7rem 0!important;
    }
    .comingSoon-film-page-text h1{
        font-size: 14px;
    }
    .comingSoon-film-page-text p{
        font-size: 12px;
    }
    .comingSoon-film-section{
        padding: 7rem 0!important;
    }
    .Detail-in4-film-content{
        display: block!important;
    }
    .Detail-in4-film{
        width: 100%!important;
        display: flex!important;
        justify-content: space-between;
    }
    .Detail-in4-film-time{
        display: block!important;
    }
    .Detail-in4-film-img{
        display: none;
    }
    .Detail-in4-film-date{
        width: 80px!important;
    }
    .Detail-in4-film-date span{
        font-size: 18px;
    }
    .detail-time{
        width: 80px!important;
        height: 35px!important;
    }
    .Detail-in4-film-titleDes{
        margin-top: 3rem;
        font-size: 18px!important;
    }
    .Detail-in4-film-titleDes .text{
        width: 50%;
        text-align: end;
    }
    .Detail-in4-film-Des-left{
        font-size: 14px!important;
        width: 65%!important;
        padding-right: 30px!important;
    }
    .Detail-in4-film-Des-right{
        width: 35%;
        font-size: 14px!important;
    }
    .FormSignin {
        width: 320px!important;
        padding: 18px 20px!important;
    }
    .FormSignin h1 {
        font-size: 24px!important;
    }
    .FormSignin .input-box {
        height: 35px!important;
        margin-top: 25px!important;
    }
    .FormSignin .register-link {
        font-size: 12.5px!important;
        margin: 13px 0px 15px!important;
    }
    .Form {
        width: 450px!important;
        padding: 15px 20px!important;
    }
    .Form h1 {
        font-size: 24px!important;
    }
    .Form .input-box {
        height: 35px!important;
        margin-top: 25px!important;
    }
    .Form form>div {
       gap: 1rem;
    }
    .Form .btn {
        font-size: 14px!important;
       height: 35px!important;
    }
    .Form .input-box input {
      font-size: 13px!important;
    }
    .Form .register-link{
        font-size: 14px!important;
        margin: 15px 0px 0px!important;
    }
    .Slider  {
        position: relative;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 90%;
        margin: 0 auto;
      }
      .Slider .slick-list {
        position: relative;
        display: block !important;
        overflow: hidden;
        padding: 70px 90px !important;
        width: 100%;
      }
      .Slider .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
      }
      .Slider.slick-slide div {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .Slider .slick-slide div div span {
        margin-top: 10px;
        width: inherit;
        text-align: center;
        font-size: 0.75rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: #111;
      }
      
      .Slider  .slick-slide:not(.slick-active) {
        position: relative;
        z-index: 997;
        opacity: 0.3;
      }
      .Slider .slick-slide.slick-active:not(.slick-current) {
        position: relative;
        z-index: 998;
        transform: scale(1.3);
        transition: 0.25s;
        opacity: 0.7;
      }
      .Slider  .slick-slide.slick-active.slick-current {
        position: relative;
        z-index: 999;
        transform: scale(1.6);
        transition: 0.25s;
      }
      .Slider .slick-slide.slick-active:not(.slick-current) .image,
      .Slider .slick-slide.slick-active.slick-current .image,
      .Slider .slick-slide:not(.slick-active) .image {
        width: 100% !important;
      }
      .Slider .slick-prev,
      .Slider .slick-next {
        display: none !important;
      }
      .Slider .custom-prevArrow,
      .Slider .custom-nextArrow {
        position: relative;
        z-index: 99999;
        top: -10px;
      }
      .Slider .custom-prevArrow {
        left: -10px;
      }
      .Slider .custom-nextArrow {
        right: -10px;
      }
      .Slider .custom-prevArrow:hover,
      .Slider .custom-nextArrow:hover {
        fill: red;
        cursor: pointer;
      }

    .Slider-ComingSon-film  {
        position: relative;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 90%;
        margin: 0 auto;
      }
       .Slider-ComingSon-film .slick-list {
        position: relative;
        display: block !important;
        overflow: hidden;
        padding: 70px 90px !important;
        width: 100%;
      }
      .Slider-ComingSon-film .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
      }
      .Slider-ComingSon-film.slick-slide div {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .Slider-ComingSon-film .slick-slide div div span {
        margin-top: 10px;
        width: inherit;
        text-align: center;
        font-size: 0.75rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: #111;
      }
      .Slider-ComingSon-film .slick-list {
        position: relative;
        display: block !important;
        overflow: hidden;
        padding: 0 !important;
        width: 100%;
      }
      .Slider-ComingSon-film .slick-prev,
      .Slider-ComingSon-film .slick-next {
        display: none !important;
      }
}

@media (max-width: 600px){
    .menu{
        display: none!important;
    }
    .Screen-tablet{
        display: none!important;
    }
    .Screen-mobile{
        display: block!important;
    }
    .menu-mobile{
        display: flex!important;
        
    }
    iframe{
        height: 300px;
    }
    .Menu-drop-mobile{
        display: grid;
        grid-template-columns: 50px 1fr;
    }
    .Slider-mobile  {
        position: relative;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 85%;
        margin: 0 auto;
      }
      .Slider-mobile .slick-list {
        position: relative;
        display: block !important;
        overflow: hidden;
        padding: 70px 100px !important;
        width: 100%;
      }
      .Slider-mobile .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
      }
      .Slider-mobile.slick-slide div {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .Slider-mobile .slick-slide div div span {
        margin-top: 10px;
        width: inherit;
        text-align: center;
        font-size: 0.75rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: #111;
      }
      
      .Slider-mobile  .slick-slide:not(.slick-active) {
        position: relative;
        z-index: 997;
        opacity: 0.3;
      }
      .Slider-mobile .slick-slide.slick-active:not(.slick-current) {
        position: relative;
        z-index: 998;
        transform: scale(1.3);
        transition: 0.25s;
        opacity: 0.7;
      }
      .Slider-mobile  .slick-slide.slick-active.slick-current {
        position: relative;
        z-index: 999;
        transform: scale(1.5);
        transition: 0.25s;
      }
      .Slider-mobile .slick-slide.slick-active:not(.slick-current) .image,
      .Slider-mobile .slick-slide.slick-active.slick-current .image,
      .Slider-mobile .slick-slide:not(.slick-active) .image {
        width: 100% !important;
      }
      .Slider-mobile .slick-prev,
      .Slider-mobile .slick-next {
        display: none !important;
      }
      .Slider-mobile .custom-prevArrow,
      .Slider-mobile .custom-nextArrow {
        position: relative;
        z-index: 99999;
        top: -10px;
      }
      .Slider-mobile .custom-prevArrow {
        left: -10px;
      }
      .Slider-mobile .custom-nextArrow {
        right: -10px;
      }
      .Slider-mobile .custom-prevArrow:hover,
      .Slider-mobile .custom-nextArrow:hover {
        fill: red;
        cursor: pointer;
      }
}
@media (max-width: 375px){}
@media (max-width: 320px){}


