.ant-modal-content{
  background-color: black;
}
:where(.css-dev-only-do-not-override-18iikkb).ant-modal .ant-modal-content {
    background-color: black;
}
.ant-modal-close{
display: none;
}
.ant-modal-close-x{
    color: white;
}
.item-card{
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.info-card{
    margin-bottom:5px;
    display: flex;
    justify-content: space-between;
}
.item-info-card{
   color: #1ACAAC;
   font-weight: 600;
}
/* :where(.css-dev-only-do-not-override-nllxry).ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger){
    background-color: #1677ff!important;
}
:where(.css-dev-only-do-not-override-nllxry).ant-btn-default{
    display: none!important;
} */